html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    padding-top: 50px;
    line-height: 1;
}

h3 {
    margin-top: 0 !important;
}

.text-lg {
    font-size: 1.5em;
}

.text-primary {
    color: #da2a2a !important;
}

nav ul {
    list-style: none;
}

ul {
    margin-left: 20px !important;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}


.section {
	clear: both;
	padding: 0px;
	margin: 0px;
    margin-bottom: 20px;
}

.btn-block {
    display: block;
    width: 100%;
}

.well {
    background: #f5f5f5;
    padding: 10px;
}

.well hr {
    border-color: #d4d4d4;
}

button {
    text-transform: uppercase !important;
}

.btn-primary {
    color: white;
    padding: 8px;
    background-color: #ca1f1f;
    border: 1px solid #ca1f1f;
}

.btn-secondary {
    color: white;
    padding: 8px;
    background-color: black;
    border: 1px solid black;
}

.btn-default {
    background: #dedede;
    border: 1px solid #d8d8d8;
    color: #545454;
}

.btn-sm {
    font-size: 12px;
}

.incrementer-input {
    border: 1px solid #ececec;
    width: 100%;
}

.incrementer-label {
    display: inline-block;
    padding: 10px;
}

.incrementer {
    display: inline-block;
    float: right;
    padding: 10px;
}

.incrementer-button {
    background: #b1b1b1;
    width: 18px;
    height: 18px;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.rating-star {
    color: gray;
    font-size: 20px;
}

.rating-star.selected {
    color: red;
}

.thumbnail {
    display: inline-block;
    cursor: pointer;
    border: 1px solid transparent;
}

.thumbnail img {
    width: 100px;
    height: 100px;
}

.thumbnail.selected {
    border-color: gray;
}

.carousel-scroll {
    max-width: 346px;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    margin-top: 20px;
}

.chevron {
    position: absolute;
    cursor: pointer;
}

.chevron.left {
    left: -12px;
    top: 37px;
}

.chevron.right {
    right: -7px;
    top: 37px;
}

.chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 20px;;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 20px;
}

.chevron.right:before {
	left: 0;
	transform: rotate(45deg);
}

.chevron.bottom:before {
	top: 0;
	transform: rotate(135deg);
}

.chevron.left:before {
	left: 0.25em;
	transform: rotate(-135deg);
}
#primaryImage {
	width: 100%;	
}
